h1 {
    text-align: center;
    font-size: 50px;
    color: blueviolet;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.botão {
    width: 1200px;
    height: 200px;
    text-align: center;
    align-items: center;
}

button {
    size: 500px;
    align-items: center;
    color: blueviolet;
    text-align: center;
    width:  200px;
    height: 100px;
    font-family: fantasy;
    font-size: 35px;
    background-color: deeppink;
    border-radius: 10px;
    border: 0px;
}